@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}
body {
    margin-left: 200px;
    margin-right: 200px;
    background-color: black;
    font-family: raleway, kanit;
}
main {
    color: white;
}
.maingrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
    margin: 0;
    margin-bottom: 50px;
    justify-items: center;
    box-sizing: border-box;
    width: 100%;
}
nav {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px;
    position: relative;
    background-color: #ED1C24;
    font-size: 30px;
    justify-items: center;
    align-items: center;
    width: 100%;
    z-index: 1;
}
nav, a {
    color: white;
}
nav, a:hover {
    color: #1C2C4A;
}
.gridthree {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    background-color: #ED1C24;
    font-size: 30px;
    justify-items: center;
    align-items: center;
    margin-top: 200px;
}
.container {
    grid-row: 1/3;
    align-content: center;
}
.para {
    width: 700px;
    height: fit-content;
    color: white;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    align-self: baseline;
    font-family: oswald;
}
div {
    align-content: center;
    justify-items: center;
}
.button {
    align-self: center;
    padding: 30px;
    background-color: #ED1C24;
    font-size: 30px;
    color: white;
}
.button:hover {
    color: #1C2C4A;
}
.div {
    grid-column: 2/3;
    align-content: center;
    justify-items: center;
    width: 800px;
    margin-left: 10px;
}
.imageone {
    margin-left: 30px;
    width: 750px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75px;
    height: 500px;
}
.grid {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: repeat(3,300px);
    row-gap: 50px;
    width: 100%;
}
h1, h2 {
    text-align: center;
    font-size: 45px;
    font-family: raleway;
    margin: 100px auto;
    width: 30%;
    background-color: #ED1C24;
    padding-top: 20px;
    padding-bottom: 20px;
}
.paragraph {
    font-size: 30px;
    text-align: center;
}
.prices {
    grid-row: 1/4;
    grid-column: 2/3;
    align-self: center;
    justify-items: center;
    font-size: 50px;
    list-style-type: none;
    width: fit-content;
}
.one, .two, .three, .four, .five {
    padding-top: 40px;
    padding-bottom: 40px;
}
.imagethree {
    grid-column: 3/4;
    grid-row: 3/4;
    place-self: center;
}
.imggrid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
align-content: center;
justify-content: center;
padding-top: 50px;
padding-bottom: 50px;
column-gap: 20px;
}
.contacts {
    font-size: 50px;
    width: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 5% 95%;
    row-gap: 40px;
}
i {
    margin-right: 0;
    width: fit-content;
}
.workp {
    font-size: 24px;
    text-align: center;
    margin: 0, auto;
}
.six {
    align-self: center;
}